<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-2">
        <p>This is my personal website. I'm Research Fellow with the School of Computer Science and Engineering, Nanyang Technological University (NTU), Singapore. I'm a member of CSLb@NTU and work with Prof. Tianwei Zhang. I was a member of the Center for Advanced Computer System (ACS) team at Institute of Computing Technology, advised by Prof. Yungang Bao.</p>
      </div>
    </div>
  </div>
</section>
