<!-- Experience Section -->
<section class="card bg-light" id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 text-center">
        <big>
          <ul>
            <li>
              Research Fellow (10/2021 - )<br/>
              School of Computer Science and Engineering, Nanyang Technological University
            </li>
            <li>
              Ph.D Degree in Computer Science (09/2016 - 06/2021)<br/>
              Institute of Computing Technology, University of Chinese Academy of Sciences
            </li>
            <li>
              Master Degree in Computer Science (09/2013 - 06/2016)<br/>
              School of Computer Science and Technology, University of Science and Technology of China
            </li>
          </ul>
        </big>
      </div>
    </div>
  </div>
</section>
