<!-- Experience Section -->
<section id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <ul>
          <li><b><i>Yuan Xu</i></b>, Xinshuo Han, Gelei Deng, Jiwei Li, Yang Liu, Tianwei Zhang: <i>SoK: Rethinking Sensor Spoofing Attacks against Robotic Vehicles from a Systematic View.</i> EuroS&P 2023</li>
          <li><b><i>Yuan Xu</i></b>, Tianwei Zhang, Yungang Bao: <i>Analysis and Mitigation of Function Interaction Risks in Robot Apps.</i> RAID 2021: 1-16</li>
          <li>Gelei Deng, Yuan Zhou, Yuan Xu, Tianwei Zhang, Yang Liu: <i>An Investigation of Byzantine Threats in Multi-Robot Systems.</i> RAID 2021: 17-32</li>
          <li><b><i>Yuan Xu</i></b>, Tianwei Zhang, Jimin Han, Sa Wang, Yungang Bao: <i>Towards Practical Cloud Offloading for Low-cost Ground Vehicle Workloads.</i> IPDPS 2021: 734-745</li>
          <li><b><i>Yuan Xu</i></b>, Gelei Deng, Tianwei Zhang, Han Qiu, Yungang Bao: <i>Novel denial-of-service attacks against cloud-based multi-robot systems.</i> Information Sciences 2021, Volume 576: 329-344</li>
          <li><b><i>Yuan Xu</i></b>, Tianwei Zhang, Sa Wang, Yungang Bao: <i>A Software Stack for Composable Cloud Robotics System.</i> ICA3PP (2) 2020: 705-720</li>
          <li>Tianwei Zhang, <b><i>Yuan Xu</i></b>, Yungang Bao, Ruby B. Lee: <i>CloudShelter: Protecting Virtual Machines' Memory Resource Availability in Clouds.</i> ICCD 2017: 557-564</li>
        </ul>
      </div>
    </div>
  </div>
</section>
