<!-- Experience Section -->
<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Selected Publication</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          For full publication list, please visit my 
          <a href="pages/full-publications.html">
            publication page 
          </a>
            or 
          <a href="https://scholar.google.com/citations?hl=en&user=jkjYvI8AAAAJ">
            google scholar
          </a>
        </p>
      </div>
      <hr class="grey">
      <div class="row">
        <div class="col-lg-2 col-lg-3">
          <a href="#" class="thumbnail">
            <img src="img/research/security.png" alt="sok">
          </a>
        </div>
        <div class="col-lg-6 col-lg-6" style="margin-top: 30px;">
          <p style="font-size: 20px;"> <b>SoK: Rethinking Sensor Spoofing Attacks against Robotic Vehicles from a Systematic View</b> </p>
          <p style="font-size: 18px;"> Yuan Xu, Xingshuo Han, Gelei Deng, Jiwei Li, Yang Liu, Tianwei Zhang </p>
          <p style="font-size: 18px;"> EuroS&P 2023 </p>
          <p style="font-size: 18px;"> pdf  project  code </p>
    </div>
</div>
  </div>
</section>
