<!-- Experience Section -->
<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Selected Publication</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          For full publication list, please visit my 
          <a href="pages/full-publications.html">
            publication page 
          </a>
            or 
          <a href="https://scholar.google.com/citations?hl=en&user=jkjYvI8AAAAJ">
            google scholar
          </a>
        </p>
      </div>
      <div class="line"></div>
      <div class="row">
        aaa
      </div>
  </div>
</section>
