<!-- About Section -->
<section class="grey" id="research">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Research</h2>
        <hr class="star-grey">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>My interest mainly lies in robotics and autonomous driving, including: </p>
      </div>
    </div>
    <!-- <div class="row"> -->
    <div class="col-lg-12 text-center">
      <img src="img/research/security.png" height=50px class="img-thumbnail" alt="vehicle secuirty">
      <img src="img/research/performance.png" witdth=20px class="img-thumbnail" alt="performance optimization">
      <img src="img/research/slam.png" witdth=40px height=30px class="img-thumbnail" alt="SLAM">
    </div>
  </div>
</section>
