<!-- About Section -->
<section class="grey" id="research">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Research</h2>
        <hr class="star-grey">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>My interest mainly lies in robotics and autonomous driving, including: </p>
      </div>
    </div>
    <div class="pics3">
      <div id="status3_pics">
        <ul class="pics3_status3" style="list-style-type: none;">
          <li>
            <img src="img/research/security.png" class="status3-pic" alt="vehicle secuirty">
            <div style="margin-right: 5px; font-size: 16px;" class="text-center">Vehicle Security</div>
          </li>
          <li style="margin-left: 1px;">
            <img src="img/research/performance.png" class="status3-pic" alt="performance optimization">
            <div style="margin-right: 5px; font-size: 16px;" class="text-center">Performance Optimization</div>
          </li>
          <li>
            <img src="img/research/slam.png" class="status3-pic" alt="SLAM">
            <div style="margin-right: 5px; font-size: 16px;" class="text-center">SLAM</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
